<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="login_as_member.css">
</head>
<body>
    <div class="login-container">
        <h1>Creez votre organisation</h1>
        <form id="login-form">
            <img src="images/creer.jpeg" alt="creer"><br><br>
            <div class="input-group">
                <input type="text" id="username" name="orga" required placeholder="nom@organisation">
            </div>
            <div class="input-group">
                <input type="text" id="password" name="cle" required placeholder="Votre poste">
            </div>
            <button type="submit">Creer</button>
            <p class="error-message" id="error-message"></p>
        </form>
    </div>

    <script src="login.js"></script>
</body>
</html>
