<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="login_as_member.css">
</head>
<body>
    <div class="login-container">
        <h1>Creez votre organisation</h1>
        <form id="login-form" method="post" action="/login_admin" >
            <img src="images/creer.jpeg" alt="creer"><br><br>
            <div class="input-group">
                <input type="text" id="username" name="orga" required placeholder="nom@organisation">
            </div>
            <!-- <div class="input-group">
                <input type="text" id="password" name="cle" required placeholder="Votre poste">
            </div> -->
            <input type="text" id="password" name="name" required placeholder="creer en tant que(nom)"><br><br>
            <input type="email" id="password" name="email" required placeholder="email"><br><br>
            <input type="password" id="password" name="pwd" required placeholder="mot de passe"><br><br>
            <input type="password" id="password" name="pwd2" required placeholder="confirmez mot de passe"><br><br>
            <textarea name="description" id="desc" placeholder="Description"></textarea><br><br>
            <button type="submit">Creer</button>
            <p class="error-message" id="error-message"></p>
        </form>
    </div>

    <script src="login.js"></script>
</body>
</html>
