<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de projets</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Système de gestion de projets</h1>
    </header>
    
    <main>
        <section id="projects">
            <h2>Liste des projets</h2>
            <ul id="project-list">
                <!-- Liste des projets générée dynamiquement -->
            </ul>
        </section>

    </main>

    <script src="script.js"></script>
</body>
</html>
