<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Connexion</h1>
        <form id="login-form" method="post" action="/orga/login_process">
            <input type="text" id="orga" name="orga" required placeholder="nom@organisation"><br><br>
            <div class="input-group">
                <input type="text" id="username" name="name" required placeholder="Nom d'utilisateur">
            </div>
            <div class="input-group">
                <input type="password" id="password" name="pwd" required placeholder="password">
            </div>
            <%console.log(error)
             if (error == 'incorrect_pwd') {%>
                <p class="error-message" id="error-message">mot de passe incorrect</p><br>
            <% }if(error == 'orga_not_found'){%>
                <p class="error-message" id="error-message">organisation non trouvée</p><br>
            <% }else{%>
                <p style="display: none;"></p><br>

            <% } %>
            <button type="submit">Se connecter</button>

        </form>
    </div>

</body>
</html>
