<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
    <link rel="stylesheet" href="css/welcome.css">
</head>
<body>
    <div class="welcome-container">
        <h1>Bienvenue dans votre système de gestion de projets</h1>
        <img src="images/project.jpg" alt="image projet">
        <p>Choisissez une option pour commencer :</p>
        <div class="buttons">
            <a href="/orga/create_orga" class="btn">Créer une organisation</a>
            <a href="/orga/join_orga" class="btn">Rejoindre une organisation</a>
        </div><br><br>
        <a href="/orga/login" class="btn2">Se connecter</a>


    </div>
</body>
</html>
